@keyframes andar {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

#personagem.movendo {
    animation: andar 0.4s infinite alternate;
}

#personagem {
    transition: transform 0.1s linear; /* Movimentação suave */
}